################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CltTelegram/bin/Debug
/CltTelegram/obj/Debug
/Libs/bin/Debug
/Libs/obj/Debug
